<div class="styled_map" id="styled-google-map-{{ gid }}"></div>
{% if steps %}
  <div class="route-details" id="steps-{{ gid }}"></div>
{% endif %}
{% if directions_form %}
  {{ directions_form }}
{% endif %}
